// icon svg classes

$sizes: (/* 32, */ 64, 128, 256, 512);

.icon > svg, .icon.icon-size-32 > svg {
  width: 32px;
  height: 32px;
}

@each $size in $sizes {
  .icon.icon-size-#{$size} > svg {
    width: #{$size}px;
    height: #{$size}px;
  }
}