---
layout: default
---
{% assign pages = site.pages 
  | where_exp: "item", "item.layout contains page.category" 
  | sort: "released" 
  | group_by_exp: "item", "item.released 
    | date: '%Y' 
    | truncate: 3, ''"
%}

{% for page_set in pages %}
<h2>{{ page_set.name | default: "???" }}0s ({{ page_set.size }})</h2>

{% if page_set.name != blank %}
<nav aria-label="Breadcrumb">
  <ol>
    {% assign decade_start = page_set.name | times: 10 %}
    {% assign decade_end = decade_start | plus: 9 %}
    {% for year in (decade_start..decade_end) %}
      {% capture year_url %}/{{ page.category }}/{{ year }}/{% endcapture %}
      {% assign year_exists = year_url | is_page %}
      {% if year_exists %}
        <li class="breadcrumb-item">
          <a href="{{ year_url | relative_url }}">{{ year }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ol>
</nav>
{% endif %}
<ul>
  {% for entry in page_set.items %}
  <li>
    <a href="{{ entry.url | relative_url }}">
      {{ entry.title }} by
      {% if entry.artists.first.target %}
      {% include util/advanced_join.html nodes=entry.artists %}
      {% elsif entry.artists %}
      {% include util/join.html target=entry.artists %}
      {% else %}
      {{ entry.artist }}{% endif %} on {{ entry.released | date_to_string: "ordinal", "US" }}
    </a>
  </li>
  {% endfor %}
</ul>
{% endfor %}