---
layout: default
---
{% assign pages = site.pages 
  | where_exp: "item", "item.layout contains page.category" 
  | sort: "released" 
  | group_by_exp: "item", "item.released 
  | date: '%Y' 
  | truncate: 3, ''"
%}

{% for page_set in pages %}
<h2>{{ page_set.name | default: "???" }}0s ({{ page_set.size }})</h2>
{% if page_set.name != blank %}
<nav aria-label="Breadcrumb">
  {% assign decade_start = page_set.name | times: 10 %}
  {% assign decade_end = decade_start | plus: 9 %}
  <ol>
    {% for year in (decade_start..decade_end) %}
    {% assign year_url = page.category | append: '/' | append: year | append: '/' | prepend: '/' %}
    {% assign year_set = page_set.items | where_exp: "item", "item.url contains year_url" | map: "released" %}
    {% for year in year_set %}{% assign year_set[forloop.index] = year | date: "%Y" %}{% endfor %}
    {% assign year_set = year_set | uniq %}
    {% for check_year in year_set %}
    {% assign _ = check_year | date: "%Y" %}
    {% if _ != year %}
    <li class="breadcrumb-item">
      <a href="{{ page.category | append: '/' | append: year | prepend: '/' | absolute_url }}">
        {{ year }}
      </a>
    </li>
    {% endif %}
    {% endfor %}
    {% endfor %}
  </ol>
</nav>
{% endif %}
<ul>
  {% for entry in page_set.items %}
  <li>
    <a href="{{ entry.url | absolute_url }}">
      {{ entry.title }} by
      {% if entry.artists %}{% include util/join.html target=entry.artists %}{% else %}{{ entry.artist }}{% endif %} on
      {{ entry.released | date_to_string: "ordinal", "US" }}
    </a>
  </li>
  {% endfor %}
</ul>
{% endfor %}