---
layout: default
---

{% comment %}
Aware that this is still very much problematic and out of date with the rest of the design standards or code consistency that has been experimented with across the rest of the project.

When the project is rebuilt using a different content engine; moved over to a different deployment or the style sheet is changed out, the root structure may also change following that.
{% endcomment %}

{%- for entry in site.pages -%}
  {%- assign splitPageURL = page.url | split: "/" | slice: 1, 10 -%}
  {%- assign splitEntryURL = entry.url | split: "/" | slice: 1, 10 -%}
  {%- if splitPageURL[2] == splitEntryURL[2] and splitEntryURL.size == 6 -%}
    <li><a href="{{ entry.url | absolute_url }}">{{- entry.title -}}</a> by
      {% if entry.artists and entry.artists.first.target %}
        {%- include util/advanced_join.html nodes=entry.artists -%}
      {% if entry.artists.first %}
        {%- include util/join.html target=entry.artists -%}
      {%- else -%}
        {{ entry.artists | default: entry.artist }}
      {%- endif -%}
    </li>
  {%- endif -%}
{%- endfor -%}