<html lang="en-US">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% seo %}

  <link rel="stylesheet" href="{{ '/assets/css/style.css' | absolute_url }}">
  <link href="https://unpkg.com/@primer/css/dist/primer.css" rel="stylesheet" />
</head>

<body>
  <div class="Header">
    <div class="Header-item">
      <a href="{{ site.baseurl }}" class="Header-link">Journey</a>
    </div>
  </div>
  <div class="container-lg px-3 my-5 markdown-body">
    {% include util/breadcrumbs.html %}

    {% if page.title %}
    <h1><a href="{{ page.url | absolute_url }}">{{ page.title }}</a></h1>
    {% endif %}

    {{ content }}

    {% comment %}{% octicon mark-github height:24 %}{% endcomment %}
    <div class="footer border-top border-gray-light mt-5 pt-3 text-gray">
      <div class="float-left">
        Build revision <a href="{{ site.github.repository_url }}/commits/{{ site.github.build_revision }}">{{ site.github.build_revision | truncate: 7, "" }}</a>
      </div>
      <div class="float-right">
        <p>This site is open source on
          <a href="{{ site.github.repository_url }}">{{ site.github.repository_nwo }}</a>.

        </p>

        {% comment %}{% octicon file-symlink-file %}{% endcomment %}
        <a href="{{ site.github.repository_url }}/blob/{{ site.github.branch | default: 'master' }}/{{ page.path }}">
          <button class="btn btn-outline mr-1" type="button">
            View on GitHub
          </button>
        </a>
        {% comment %}{% octicon pencil %}{% endcomment %}
        <a href="{{ site.github.repository_url }}/edit/{{ site.github.branch | default: 'master' }}/{{ page.path }}">
          <button class="btn btn-primary mr-1">
            Edit on GitHub
          </button>
        </a>
      </div>
    </div>
  </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js"
    integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
  <script>anchors.add();</script>
</body>

</html>