---
layout: default
---

<div class="container-lg clearfix">
  <div class="col-6">
    {% if page.artists.first.target %}
      {% include util/advanced_join.html nodes=page.artists %}
    {% elsif page.artists %}
      {% include util/join.html target=page.artists %}
    {% elsif page.artist %}
      {{ page.artist }}
    {% endif %}
  </div>
  <div class="col-4 float-right">
    {% if page.uploads.youtube %}
      {% include youtube.html id=page.uploads.youtube origin=site.url width=300 height="auto" %}
    {% endif %}

    {% if page.uploads.spotify %}
      {% include embeds/spotify-track.html id=page.uploads.spotify %}
    {% endif %}
    <hr>
    {% if page.links %}
    {% for link in page.links %}
    <div class="container clearfix">
      <div class="col-3">
        {% simpleicon {{ link.type }} 32 fill: #{{ site.data.simpleicons[link.type] }}; %}
      </div>
      <div class="col-3">
        <a href="{{ link.href }}">{{ link.label }}</a>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>

{% if page.based_on %}
{% for entry in site.pages %}{% if entry.url contains page.based_on %}
<a href="{{ entry.url | relative_url }}">{{ entry.title }} by
  {% if entry.artists %}{% include util/join.html target=entry.artists %}{% else %}{{ entry.artist }}{% endif %}</a>
{% endif %}{% endfor %}
{% endif %}

{{ content }}